01. What are data structures, and why are they important?

Data structures are specialized formats for organizing, storing, and accessing collections of data.
Choosing right data structure will enhance the efficiency and performance of the program. It optimize the searching and sorting operations and conserve the memory.

0.2 Explain the difference between mutable and immutable data types with examples?

mutable data types like list, dictionaries can be modified after creation.

Immutable data types can not be modified after they are  created for example set, tuple .

3. What are the main differences between lists and tuples in Python?

lists are mutable where as tuples are immutable.

4.  Describe how dictionaries store data.

dictionaries store data as key-value pairs.

5. Why might you use a set instead of a list in Python?

  set removes the duplicate value and provide faster test results than  lists.

6. What is a string in Python, and how is it different from a list?

   String is a immutable sequence of chatracters, where as list is a mutable sequence of elements.

7. How do tuples ensure data integrity in Python?
  
   As tuples are immutable they prevent the modification of data.

8. What is a hash table, and how does it relate to dictionaries in Python?

   It maps key value to function using a hash function.
   python dictionaries are implimented using the hash table

9. Can lists contain different data types in Python?
   
   Yes.

10. Explain why strings are immutable in Python?

as hash value of the strings remain constant they are immutable.

11. What advantages do dictionaries offer over lists for certain tasks?

dictionaries offer facilities like fast lookups, key - value assosciations and complex data maping.

while list suitable for sequential processing, ordered  collections and simple storage

12.  Describe a scenario where using a tuple would be preferable over a list.
     
     when we want the date to remain constant .  when the data shold not be alterd.

13.  How do sets handle duplicate values in Python?
     
     It automatically removes the duplicate value.

14. How does the “in” keyword work differently for lists and dictionaries?
    
    dictionaries>> it checks for keys
     
    lists >> it checks for values

15. Can you modify the elements of a tuple? Explain why or why not.
    
    No
    
    As tuples are immutable their elements can not be changed.

16. What is a nested dictionary, and give an example of its use case?
    
    A dictionary within another dictionary is called as nested dictionary.

    it helps in organising the complex, hierarchical data.

18.  In what situations are lists preferred over dictionaries?
     
     When their is a simple sequence and when the order matters .

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    
    Lists uses indices to data retrival, which is time consuming compared to dictionaries.

    dictionaries uses keys for data retrival , which saves time.

PRACTICAL

01. Write a code to create a string with your name and print it.

In [ ]:
name = " rachana"
print(name)

 rachana

2.  Write a code to find the length of the string "Hello World"

In [ ]:
print(len("hello world"))

11

3.  Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
print("python programing"[:3])

pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
a = ("hello")

In [ ]:
print(a.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
a = " i like apple"
print("i like apple".replace("apple", "orange"))

i like orange

6.  Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
 a = [1, 2, 3, 4, 5]
 print(a)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
a = [1, 2, 3, 4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
a = [1, 2, 3, 4, 5]
a.remove(3)
print(a)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
x = ["a", "b", "c", "d"]
print(x[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
a = [10, 20, 30, 40, 50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
a = (100, 200, 300)
print(a)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
a = ("red", "green", "blue", "yellow")
print(a[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
a = (10, 20, 5, 15)
print(min(a))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
d = ("dog", "cat", "rabbit")
print(d.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
s = ("apple", "banana", "mango", "orange")
print("kiwi" in s)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s = {"a", "b", "c"}
print(s)

{'a', 'c', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
a

{1, 2, 3}

In [ ]:
b

{3, 4, 5}

In [ ]:
print(a.intersection(b))

{3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
z = {'name': 'rachana', 'age': 26, 'city': 'banglore'}
print(z)

{'name': 'rachana', 'age': 26, 'city': 'banglore'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
z

{'name': 'rachana', 'age': 26, 'city': 'banglore'}

In [ ]:
z['counry'] = 'usa'
print(z)

{'name': 'rachana', 'age': 26, 'city': 'banglore', 'counry': 'usa'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
d = {"name": "depa", "age": "56"}
d["name"]

'depa'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
v = {'name': 'bob', 'age': 22, 'city': 'new york'}
del v['age']
print(v)

{'name': 'bob', 'city': 'new york'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
d = { 'name': 'alice', 'city': 'paris'}
print('city' in d)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = ["f", "u", "o", "z"]
my_tuple = ("a", "h", "m")
my_dict = {"s":60, "v":80, "x": 79}
print(my_list)
print(my_tuple)
print(my_dict)

['f', 'u', 'o', 'z']
('a', 'h', 'm')
{'s': 60, 'v': 80, 'x': 79}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the

In [ ]:
l = [40, 68, 23, 20, 99]
l == l.sort()
print(l)

[20, 23, 40, 68, 99]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
f = ["apple", "ball", "bus", " car", "train"]
print(f[3])

 car

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
d1 = {"name": "deepa", "class": "4"}
d2 = {"adress": "udupi", "contact": "56744"}
d1.update(d2)
print(d1)

{'name': 'deepa', 'class': '4', 'adress': 'udupi', 'contact': '56744'}

30. Write a code to convert a list of strings into a set.

In [ ]:
l = ["a", "b", "c"]
g = set(l)
print(g)

{'b', 'a', 'c'}